venv/
oryx-build-commands.txt
.vscode/settings.json
eq.gro
eq.xtc
.eq.xtc_offsets.lock
.eq.xtc_offsets.npz
.protein_slice.xtc_offsets.lock
.protein_slice.xtc_offsets.npz
eq2ff1200.xtc
npt2ff1200.gro
protein_slice.gro
protein_slice.xtc
adi_results/
modules.txt
.eq2ff1200.xtc_offsets.lock
.eq2ff1200.xtc_offsets.npz
npt2ff1200_fixed.gro
out.gro
.temp_protein_slice.xtc_offsets.lock
.temp_protein_slice.xtc_offsets.npz
temp_protein_slice.gro
temp_protein_slice.xtc
centered_protein_slice.gro
centered_protein_slice.xtc
.centered_protein_slice.xtc_offsets.lock
.centered_protein_slice.xtc_offsets.npz
python_job.sh
slurm*
sfi_results/